# Shortcuts

In [27]:
# pip install (library name) : This comand is used ot download libraries
# SHIFT + ENTER : Runs section; Alternatively press run button
# Alt + ENTER : ADD New line; or use insert cell below/above
# Press DD to remove a cell (not on the type in ready mode)
# Ctrl + Enter/Run selected cells
# Ctrl + S/Save and checkpoint
# Enter/Takes you into an edit mode
# When in command mode "ESC" will get you out of edit mode.
# H/Shows all shortcuts (use H when in command mode)
# Up/Select cell above
# Down/Select cell below
# Shift + Up/Extends selected cells above (use when in command mode)
# Shift + Down/Extends selected cells below (use when in command mode)
# A/Inserts cell above (use when in command mode)
# B/Inserts cell below (use when in command mode)
# X/Cuts selected cells (use when in command mode)
# C/Copy selected cells (use when in command mode)
# V/Paste cells below (use when in command mode)
# Shift + V/Paste cells above (use when in command mode)
# DD (press the "D" keyword twice)/Deletes selected cells (use when in command mode)
# Z/Undo cell deletion (use when in command mode)
# Ctrl + A/Selects all (use when in command mode)
# Ctrl + Z/Undo (use when in command mode)

# tab: Helps in autocompleting and faster coding in Jupyter Notebook
# Example: type in mat then press tab and see the options for autocompleting:
# %matplotlib

# Shift + tab : Pressing this keyword inside a library’s parenthesis one time will open all the features associated
# within that library
# For example, if after importing "import numpy as np" np.linspace is typed and "shift + tab" is hit once, it will populate a
# window that will show all the arguments that can be passed inside.
# import numpy as np
# np.linspace()

# Basic Math Operations

In [28]:

4*4

2*2+3

10**2 #Power operator

10/2

13%2 #remainder of the division

1

# Assigning a variable name

In [18]:
# Variable name cannot start with a number
x = 100
y = 200
z = 300
d = x+y+z
d

600

# Creating a string

In [29]:
# single or double quotes can be used.

x = 'I Love Python'
x
x = "I Love Python"
x

'I Love Python'

# Indexing

In [31]:
# To index a string, bracket ([]) notation along with the element number can be used.
# It is crucial to remember that indexing in Python starts with 0.

y = "Oil_Gas"

y[0] # 1st character
y[5] # 6th character
y[0:4] # To get the first 4 letters (first 5 characters), y [0:4] can be used.
y[:] # To obtain the whole string
y[:6] # Another way of indexing everything until an n-element. y[:6] essentially indicates indexing everything up until the sixth element
# (excluding the sixth element).
y[2:] #y[2:] can also be used to index the second element and thereafter.

## Length of the string
z = 'The optimal well spacing is 950 ft'
len(z)

34

# Lists

In [42]:
list = ['Land','Geology','Drilling']
list.append('Frac') # append() takes exactly one argument
list.append(100)
list

# To index from a list, the same bracket notation as string indexing can be used.
list[0]
print(list[0]) # print syntax shows the output, if not used python shows only the last one
list[0:4] # Excludes the 4th element  

# To replace the first element with "Title_Search," the following line can be used:
list[0] = 'title_Search'
list

Land

['title_Search', 'Geology', 'Drilling', 'Frac', 100]

# Nested Lists

In [48]:
# Lists inside another list
nested_list = [10,20, [30,40,50,60]]
nested_list
nested_list[2][0] # To call first element from the third list in the nested list

# Example : If the objective is to get number 3 from the nested_list2
nested_list2 = [10,20, [30,40,50,60, [4,3,1]]]
nested_list2[2][4][1]

3

# Creating a Dictionary

In [9]:
# When using dictionary, wiggly brackets are used {}
# Example: Dictionart a which contains various ML models and their respective scores
a = {'ML_Models':['ANN','SVM','RF','GB','XGB'],'Scores':[90,85,95,90,100]}
a

a['ML_Models'] #Indexing ML models
a['ML_Models'][0:3] # Showing all models excluding the 4th model and the rest (3 is not included)

# Nested Dictionary Example
d = {'a':{'inner_a':[1,2,3]}}
print(d)

# If the objective is to show number 2 in the above dictionary:
d['a']['inner_a'][1]

{'a': {'inner_a': [1, 2, 3]}}

2

# Creating a tuple

In [10]:
# As opposed to lists that use brackets, tuples use parentheses to define a sequence of elements.
# One of the advantages of using a list is that items 
# can be assigned; however, tuples do not support item assignments which means they are immutable
t = (100,200,300,400)
t[0] = 'New' #"tuple’s object does not support item assignment." This is essentially the primary difference between lists and tuples.

TypeError: 'tuple' object does not support item assignment

# Creating a Set

Set is defined by unique elements which means defining the same numbers multiple times will only return the unique numbers and will not show the repetitive numbers. The wiggly brackets ({}) can be used to generate a set as follows.

In [22]:
set = {100,200,300,100,200,300}
print(set)

set.add(500)
set

{200, 100, 300}

{100, 200, 300, 500}

# If statements

Make sure if and else are indented otherwise ann error will be dsiplayed
The "tab" keyword can be used to indent in Jupyter Notebook.

In [26]:
if 100==200:
    print('Great')
else:
    print('Not True')
    

    
X = 100
Y = 200
Z = 300
if X>Y:
    print('Good')
elif Z<Y:
    print('SO SO')
else:
    print('BAD')
    
    
n = float(input("Enter any number"))
if n==0:
    print('ZERO')
elif n>0:
    print('POSITIVE Number')
else:
    print('NEGATIVE Number')

Not True
BAD
Enter any number10
POSITIVE Number

# For Loop

In [28]:
i=range(0,5) # Excludes 5
for x in i:
    print(x) # Mind the indentation

0
1
2
3
4

The "break" function allows stopping through the loop before looping
through all the items.

In [32]:
Frac_Crews = ['Frac_Crew_1', 'Frac_Crew_2', 'Frac_Crew_3','Frac_Crew_4']
for x in Frac_Crews:
    print(x)
    if x=='Frac_Crew_2':
        break

Frac_Crew_1
Frac_Crew_2

With the "continue" statement, it is possible to stop the current iteration of
the loop and continue with the next.

In [35]:
Frac_Crews=['Frac_Crew_1', 'Frac_Crew_2', 'Frac_Crew_3','Frac_Crew_4']
for x in Frac_Crews:
    if x=='Frac_Crew_2':
        continue
    print(x)

Frac_Crew_1
Frac_Crew_3
Frac_Crew_4

The "range" function can also be used in different increments. By default,
the range function uses the following sequence to generate the numbers: start,
stop, increments.

In [37]:
for x in range(10,20,4):
    print(x)

10
14
18

# Nested Loops

In various ML optimization programs such as grid search, nested loops are very
common to optimize the ML hyperparameters.

In [38]:
Performance = ["Low_Performing", "Medium_Performing",'High_Performing']
Drilling_Crews = ["Drilling_Crew_1", "Drilling_Crew_2","Drilling_Crew_3"]
for x in Performance:
    for y in Drilling_Crews:
        print(x, y)

Low_Performing Drilling_Crew_1
Low_Performing Drilling_Crew_2
Low_Performing Drilling_Crew_3
Medium_Performing Drilling_Crew_1
Medium_Performing Drilling_Crew_2
Medium_Performing Drilling_Crew_3
High_Performing Drilling_Crew_1
High_Performing Drilling_Crew_2
High_Performing Drilling_Crew_3

In [42]:
i = [10,20,30,40]
out = []
for x in i:
    out.append(x**2+200)
    print(out)

[300]
[300, 600]
[300, 600, 1100]
[300, 600, 1100, 1800]

Compare the difference in output with the cell above

In [43]:
i = [10,20,30,40]
out = []
for x in i:
    out.append(x**2+200)
print(out)

[300, 600, 1100, 1800]

# List Comprehension

List comprehension is another powerful way of performing calculations quickly. The calculations listed above could have been simplified in the following list comprehension:

In [44]:
i = [10,20,30,40]
[x**2+200 for x in i]

[300, 600, 1100, 1800]

As shown in the list comprehension example above, first write down the mathematical calculations that is desired followed by "for x in i" inside a bracket. Below is another example:

In [46]:
y = [5,6,7,8,9,10]
[x**2+3*x+369 for x in y]

[409, 423, 439, 457, 477, 499]

# Defining a Function

A function can be definedby using "def" followed by "return" to perform various mathematical equations:

In [49]:
def linear_function(n):
    return 2*n+20
linear_function(20)

60

In [50]:
linear_function(200)

420

first use the syntax "def" to define any name that is desirable. Afterward, return the equation that is desirable. Finally, call the defined name followed by the number that is desired to use to run the calculations. Below is another example:

In [52]:
def Turner_rate(x):
    return x**2+50
Turner_rate(20)

450